<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div class="myapp"></div>
	<script src="https://vuejs.org/js/vue.js"></script>
	<script type="text/javascript">
		console.log('this is server render html ...')

		/* document.getElementsByTagName('ul')[0].addEventListener('click', function (event) {
			if (event.target.nodeName.toUpperCase() === 'LI') {
				console.log('this is ul ...', event.target.innerText)
			}
		}) */
	</script>
</body>
</html>